@import url(http://fonts.googleapis.com/css?family=Roboto:400,900);

body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
    color: #3a4958;
}

.info{
    text-align: center;
}

.gameboard {
    font-weight: 900;
    position: relative;
    margin: auto;
    width: 560px;
    height: 560px;
    background: #AEB3B7;
    border-radius: 4px;
    border: 1px solid #3a4958;
    box-shadow: 1px 1px 0px #3a4958,
     2px 2px 0px #3a4958, 
     3px 3px 0px #3a4958, 
     4px 4px 0px #3a4958, 
     5px 5px 0px #3a4958,
     6px 6px 0px #3a4958,
     7px 7px 0px #3a4958,
     8px 8px 0px #3a4958,
     9px 9px 0px #3a4958,
     10px 10px 0px #3a4958;
    }

.tile {
    float: left;
    position: relative;
    height: 115px;
    width: 115px;
    margin-left: 18px;
    margin-top: 18px;
    border-radius: 4px;
    font-size: 55px;
    text-align: center;
    line-height: 115px;
    border: 1px solid #3a4958;
    background: #AEB3B7;
    overflow: hidden;
    transition: 0.2s all cubic-bezier(.22,.61,.36,1);

}

.full-tile {
    box-shadow: 1px 1px 0px #3a4958,
                2px 2px 0px #3a4958,
                3px 3px 0px #3a4958;
}
.number{
    transition: 0.15s all cubic-bezier(.22,.61,.36,1);
}