<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>

<body>
    <div id="title">2048</div>
    <div id="app-2048">
    <div id="gameboard">
        <div id="game-tiles">
            <transition><div class="tile bg-tile" v-for="tile in gameboard[0]" :key="tile.id" v-bind:class="{'full-tile':tile.value}" v-bind:style="{ background: 'rgb(121,201,'+(132 + 2*tile.mergeNum +3*tile.mergeNum)+')'}">{{tile.value}}</div></transition>
            <div class="tile bg-tile" v-for="tile in gameboard[1]" v-bind:class="{'full-tile':tile.value}" v-bind:style="{ background: 'rgb(121,201,'+(132 + 2*tile.mergeNum +3*tile.mergeNum)+')'}">{{tile.value}}</div>
            <div class="tile bg-tile" v-for="tile in gameboard[2]" v-bind:class="{'full-tile':tile.value}" v-bind:style="{ background: 'rgb(121,201,'+(132 + 2*tile.mergeNum +3*tile.mergeNum)+')'}">{{tile.value}}</div>
            <div class="tile bg-tile" v-for="tile in gameboard[3]" v-bind:class="{'full-tile':tile.value}" v-bind:style="{ background: 'rgb(121,201,'+(132 + 2*tile.mergeNum +3*tile.mergeNum)+')'}">{{tile.value}}</div>
        </div>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/main.js"></script>
</body>

</html>